@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

$primary: #FFFDE1;
$secondary: #FF9D76;
$tertiary: #FF4273;
$quatenary: #1FFFFF;
$black: #3d3d3d;

$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


@import "components/bottom-sheet";
@import "components/loaders";
@import "components/info-bubbles";
@import "components/splitter-form";

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    color: $black;

    @media only screen and (max-width: $sm) {
        overflow-y: visible;
    }
}

.line-break {
    width: 100%;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    margin-bottom: 50px;

    @media only screen and (max-width: $md) {
        flex-direction: column;
        text-align: center;
    }
    
    #title__img {
        width: 100px;
    }

    #title__text {
        margin-left: 30px;
        font-size: 3.25rem;
        letter-spacing: 5px;
    }
}

.progress {
    width: 60%;
    border-radius: 40px;
    margin: 0 auto;

    .progress-bar {
        background-color: $primary;
        border-radius: 40px;   
    }

    .progress-bar-striped {
        background-image: linear-gradient(45deg,rgba(0, 0, 0, .1) 25%,transparent 25%,transparent 50%,rgba(0, 0, 0, .1) 50%,rgba(0, 0, 0, .1) 75%,transparent 75%,transparent);
    }
}

#separator-form {
    display: none;
}