#bottom-sheet {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 30%;
    left: 0;
    overflow: hidden;
    transition: all .4s;
    display: flex;
    justify-content: center;
    z-index: 3;

    @media only screen and (max-height: 1000px) {
        height: 80%;
        top: 20%;

        @media only screen and (max-width: $md) {
            height: 90%;
            top: 10%;
        }
    }

    @media only screen and (max-width: $sm) {
        height: 80%;
        top: 20%;

        @media only screen and (max-height: 900px) {
            height: 100%;
            top: 0;
        }
    }


    &.bottom-sheet--closed {
        height: 0;
        line-height: 0;
        top: 100%;
    }

    .bottom-sheet--spacer {
        margin-bottom: 50px;
    }

    #bottom-sheet__container {
        margin-top: 1.5rem;
        background-color: #fff;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;    
        box-shadow: 0 3px 18px rgba(0, 0, 0, 0.4);
        width: 80%;
        max-width: 900px;
        padding: 0 1.5rem 1.5rem 1.5rem;

        @media only screen and (max-width: $sm) {
            width: 100%;
            overflow-y: scroll;
        }

        #bottom-sheet__handle {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
            cursor: pointer;
    
            span {
                display: block;
                height: 3px;
                width: 28px;
                margin-bottom: 2px;
                background-color: rgba(0, 0, 0, .3);
                border-radius: 2px;
            }
        }

        #bottom-sheet__preview {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            #preview__iframe {
                border-radius: 40px;
                width: 450px;
                height: 254px;
                margin-top: 20px;

                @media only screen and (max-width: $sm) {
                    width: 90%;
                    height: auto;
                }
            }         
            
            #preview__title {
                letter-spacing: 2px;
                font-size: 18px;
            }
        }

        #bottom-sheet__loading {
            display: none;

            #loading__container {
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;

            }

            #loading__text {
                letter-spacing: 2px;
                font-size: 18px;
                margin-top: 10px;

                #loading__text--small {
                    display: block;
                    font-size: 14px;
                }
            }
        }
    }
}