.info-bubbles {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    @media only screen and (max-width: $sm) {
        flex-direction: column;
        align-items: center;
    }

    .info-bubbles__bubble {
        padding: 20px;
        border-radius: 40px;
        height: 300px;
        width: 300px;
        position: relative;
        display: flex;
        align-items: center;
        color: #fff;
        letter-spacing: 2px;
        transition: width .5s, height .5s;

        @media only screen and (max-width: $sm) {
            font-size: 16px;
            margin: 20px 0;
        }

        @media only screen and (max-width: 350px) {
            font-size: 14px;
            width: 95%;
        }

        &:hover {
            width: 320px;
            height: 320px;
            z-index: 2;
        }

        &.info-bubbles__bubble--left {
            background-color: $secondary;

            &:before {
                background-image: url('/static/img/note1.svg');
                background-size: 100%;
                width: 50px;
                height: 50px;
                content: '';
                position: absolute;
                top: -10px;
                left: -10px;
                transform: rotate(-15deg);
            }
        }

        &.info-bubbles__bubble--right {
            background-color: $tertiary;
            top: 200px;
            margin-left: -50px;

            @media only screen and (max-width: $sm) {
                top: auto;
                margin-left: 0;
                margin-bottom: 50px;
            }

            &:after {
                background-image: url('/static/img/note2.svg');   
                background-size: 50%;
                background-repeat: no-repeat;
                background-position: center;
                width: 70px;
                height: 70px;
                content: '';
                position: absolute;
                top: -30px;
                right: -10px;
                transform: rotate(-15deg);
            }
        }
    }
}
