.loader {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 999999;

    &.loader--spinner {
        .loader__img {
            width: 100px;
        }

        .loading__text {
            font-size: 20px;
            display: block;
        }
    }    
}
