.splitter-form {
    &.splitter-form--flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &.splitter-form--d-none {
        display: none;
    }

    .splitter-form__field {
        display: block;
        position: relative;
        margin-right: 20px;

        &.splitter-form__field--flex {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0;
        }

        &.splitter-form__field--divider {
            margin-top: 20px;
        }

        .splitter-form__input {
            border: none;
            border-radius: 40px;
            padding: 10px;

            &:not([type=submit]) {
                min-width: 200px;
            }

            &#youtube-url {
                width: 60%;
                padding: 20px 40px;
                font-size: 20px;
            }

            &.splitter-form__input--primary {
                background-color: $primary;
            }

            &.splitter-form__input--secondary {
                background-color: $secondary;
                color: rgba(255, 255, 255, .9);

                &::placeholder {
                    color: rgba(255, 255, 255, .9);
                }
            }

            &.spliter-form__input--center {
                text-align: center;

                &::placeholder {
                    text-align: center !important;
                }

                &::-webkit-input-placeholder {
                    text-align: center !important;
                }

                &::-moz-placeholder {
                    text-align: center !important;
                }
            }
        }

        .splitter-form__label {
            letter-spacing: 2px;
            font-size: 18px;

            @media only screen and (max-width: $sm) {
                display: block;
                text-align: center;
            }
        }
    }

    .splitter-form__error {
        display: none;
        margin-top: 10px;
        color: $tertiary;
    }
}
