{% extends "layout.html" %}
{% block content %}

    

    <div id="title"> 
        <img id="title__img" src="/static/img/youtube.png" />
        <h1 id="title__text">Audio Splitter</h1>
    </div>

    <form id="video-id-form" class="splitter-form" action="" method="POST" autocomplete="off">
        {{ form.youtube.hidden_tag() }}
        
        <div class="splitter-form__field splitter-form__field--flex">
            {{ form.youtube.url(class="splitter-form__input splitter-form__input--primary") }}
            {{ form.youtube.submit(class="splitter-form__input") }} 
            <div class="line-break"></div>
            <p id="video-id-form__error" class="splitter-form__error ">this is an error</p>      
        </div>
    </form>

    <div class="info-bubbles">
        <div class="info-bubbles__bubble info-bubbles__bubble--left">   
            Have you ever wanted to split a YouTube video into vocals and accompaniment? Perhaps to extract a song burried under someone talking,
            or the vocals without any music in the <br /> background.
        </div>
    
        <div class="info-bubbles__bubble info-bubbles__bubble--right">   
            Our YouTube separator takes a video ID and splits it into its components . It's FREE so why not give it a go!
        </div>
    </div>
    

    <div id="bottom-sheet" class="bottom-sheet--closed"> 
        <div id="bottom-sheet__container">
            <div id="bottom-sheet__handle">
                <span></span>
            </div>

            <div id="bottom-sheet__preview" class="bottom-sheet--spacer">
                <div id="preview__title">Splitting video: <span id="preview__title--name">Youtube title here</span></div>
                <iframe id="preview__iframe" src="https://www.youtube.com/embed/?autoplay=0&showinfo=0&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <form id="separator-form" class="bottom-sheet--spacer" action="" method="POST" autocomplete="off">
                <div class="splitter-form splitter-form--flex">
                    {{ form.separator.hidden_tag() }}
                    
                    <div class="splitter-form__field">
                        {{ form.separator.stems.label(class="splitter-form__label") }}
                        <div class="line-break"></div>
                        {{ form.separator.stems(class="splitter-form__input splitter-form__input--secondary spliter-form__input--center") }}
                    </div>  

                    <div class="splitter-form__field">
                        {{ form.separator.bitrate.label(class="splitter-form__label") }}
                        <div class="line-break"></div>
                        {{ form.separator.bitrate(class="splitter-form__input splitter-form__input--secondary spliter-form__input--center") }}
                    </div>
                
                    <div class="splitter-form__field">
                        {{ form.separator.filetype.label(class="splitter-form__label") }}
                        <div class="line-break"></div>
                        {{ form.separator.filetype(class="splitter-form__input splitter-form__input--secondary spliter-form__input--center") }}        
                    </div>
                    
                    <div class="splitter-form__field splitter-form__field--flex splitter-form__field--divider">
                        {{ form.separator.submit(class="splitter-form__input") }}
                    </div>
                    <div class="line-break"></div>
                    <p id="separator-form__error" class="splitter-form__error">this is an error</p>  
                </div>    
            </form>

            <div id="bottom-sheet__loading">
                <div id="loading__container">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    <p id="loading__text">Splitting audio, this might take a while... <span id="loading__text--small">Feel free to do other things in the background and check back periodically</span></p>
                </div>
            </div>  
        </div>
    </div>

{% endblock %}